{: .WARNING}
> As of 7/16, we've cleaned up the Project 2 specs with the following changes:
> - Refactored relevant data sections into it's own "Data" page
> - Refactored relevant testing sections into it's own "Testing" page
> - Standardized and cleaned up miscellaneous parts of spec
> - New "Above and Beyond" page
>
> There are NO new requirements for the project and the autograder/skeleton code is the same as before, so if you have already completed Project 2A: NGrams, you don't need to do anything!